<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/_head %>
</head>

<body>
    <% include partials/_navbar %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-10">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Número de cuenta empresa 1</th>
                            <th scope="col">NIT empresa 1</th>
                            <th scope="col">Responsable legal</th>
                            <th scope="col">Número de cuenta empresa 2</th>
                            <th scope="col">NIT empresa 2</th>
                            <th scope="col">Dinero transferido</th>
                            <th scope="col">Anomalia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < transactions.length; i++) { %>
                        <tr>
                            <th scope="row"><%= i + 1%></th>
                            <td><strong><%= transactions[i].cuentaUno %></strong></td>
                            <td><%= transactions[i].nitEmpresaUno %></td>
                            <td><%= transactions[i].responsableLegal %></td>
                            <td><%= transactions[i].cuentaDos %></td>
                            <td><%= transactions[i].nitEmpresaDos %></td>
                            <td><%= transactions[i].monto %></td>
                            <td><%= transactions[i].anomalia %></td>                            
                        </tr>
                        <% } %>
                </table>
            </div>
        </div>
    </div>
</body>

</html>